<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>700450530332-gpaaig4395l4vgmoeh1fmdafvkdqeh5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700450530332-gpaaig4395l4vgmoeh1fmdafvkdqeh5e</string>
	<key>API_KEY</key>
	<string>AIzaSyB3rSx7HjsT0KRhwSpEpA_CYyhBs70CHa8</string>
	<key>GCM_SENDER_ID</key>
	<string>700450530332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftech.mapmyinsurance</string>
	<key>PROJECT_ID</key>
	<string>pushmynotifs-65eac</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotifs-65eac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:700450530332:ios:489ccd31cc92e0d1</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotifs-65eac.firebaseio.com</string>
</dict>
</plist>